## Lab 12: Video Game Stats
### Brendan Welzien / Nov. 24, 2020

In [5]:
import numpy as np 
import pandas as pd

In [7]:
game_frame = pd.read_csv('vgsales.csv')

In [8]:
game_frame.shape

(16598, 11)

In [9]:
game_frame.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [11]:
mc_game_publishers = game_frame[['Publisher']].mode()
mc_game_best_publisher = mc_game_publishers.iloc[0][0]
mc_game_best_publisher

'Electronic Arts'

### 1. The most common video game publisher is **Electronic Arts.**

In [13]:
mc_platforms = game_frame[['Platform']].mode()
mc_best_platform = mc_platforms.iloc[0][0]
mc_best_platform

'DS'

### 2. The most common video game platform is the DS.

In [15]:
mc_genres = game_frame[['Genre']].mode()
mc_best_genre = mc_genres.iloc[0][0]
mc_best_genre

'Action'

### 3. The most common video game genre is Action.

### 4. Illustrate the top 20 highest grossing games.

In [27]:
top_twenty_games = game_frame[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending= False).head(20)
top_twenty_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [30]:
na_median_sales = game_frame[['NA_Sales']].median()
na_median_sales = na_median_sales.iloc[0]
na_median_sales

0.08

### 5. The median for North American video games sales: 0.08

In [63]:
ten_median_games = game_frame[game_frame['NA_Sales'] == 0.08]
ten_median_games_len = len(ten_median_games)
middle_ten_median_games = ten_median_games_len // 2

ten_sold = ten_median_games[middle_ten_median_games - 5:middle_ten_median_games + 5]
ten_sold

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9931,9933,Spider-Man: Edge of Time,3DS,2011.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11

### 6. What is the standard deviation away from the average North America sales?

In [49]:
top_seller = game_frame.iloc[0].NA_Sales
mean = game_frame['NA_Sales'].mean()
std = game_frame['NA_Sales'].std()
measure = top_seller - mean
deviate = measure / std
deviate

50.47898767479108

### 7. Find the average number of Wii game sales compared to other platforms.

In [55]:
find_wii_games = game_frame[game_frame['Platform'] == 'Wii']
wii_games_average_sales = find_wii_games['Global_Sales'].mean()

In [56]:
find_other_games = game_frame[game_frame['Platform'] != 'Wii']
other_games_average_sales = find_other_games['Global_Sales'].mean()

In [57]:
wii_sales_compared_others = wii_games_average_sales / other_games_average_sales
wii_sales_compared_others

1.3362965516676526

In [65]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(mc_game_best_publisher, 'Electronic Arts')
    assert_equal(mc_best_platform, 'DS')
    assert_equal(mc_best_genre, 'Action')
    assert_equal(top_twenty_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.08)
    assert_equal(ten_sold, ['Spider-Man: Edge of Time', 'Turok: Evolution', 'Deadpool', 'GT Advance 2: Rally Racing', "A Witch's Tale", 'Nickelodeon Dance', 'Phantasy Star Collection', "LEGO Knights' Kingdom", 'Family Game Night 4: The Game Show', 'NBA Jam 2002'])
    assert_equal(deviate, 50)
    assert_equal(wii_sales_compared_others, 1.33)

    print("Success!!!")

test()

ValueError: Unable to coerce to Series, length must be 11: given 10